numpy
pandas

# face recoginition
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0


supabase
bcrypt

# QR Code
segno
pillow

# frontend development
streamlit

librosa
resemblyzer